<% content_for :head do %>
  <title>CoverCentric Blog</title>
  <meta name="description" content="CoverCentric’s blog about how restaurants can use technology and web development to ensure they are maximizing profits.">
<% end %>
<div class="parallax-container center-text blog-background" id="home-parallax">
  <div class="parallax">
    <%= image_tag 'restaurant-bg-image.svg' %>
  </div>
  <h2 class="hero-problem">The CoverCentric Blog</h2>
  <h3 class="hero-solution">Where Restaurants and Tech Intersect</h3>
</div>
<div class="container">
      <% @articles.order("created_at desc").each do |article| %>
      <div class="row">
        <div class="col s12 m10 offset-m1">
        <h4 class="blog-title"><%= strip_tags(article.title) %></h4>
        <p class="blog-text"><%= strip_tags(article.body.truncate(200, separator: ' ')) %></p>
        <%= link_to "Read more", article_path(article), class:"btn read-more" %>
      </div>
    </div>
      <% end %>
</div>
<script type="text/javascript">
  $(document).ready(function(){
    $('.parallax').parallax();
  });
</script>