<div class="container">
  <div class="row">
    <div class="col s12 m10">
      <h3><%= @article.title %></h3>
      <div class="froala-view">
        <%= simple_format(@article.body) %>
      </div>
    </div>
  </div>
</div>