<div class="row">
  <div class="col s12 m6">
    <div class="card">
      <div class="card-content">
        <span class="card-title"><h3 class="package-title">OpenTable</h3></span>
        <ul>
          <li class="check-list"><i class="material-icons offer-icon">check_circle</i>$1,300 for initial setup and required software</li>
          <li class="check-list"><i class="material-icons offer-icon">check_circle</i>$249 per month service and software fee</li>
          <li class="check-list"><i class="material-icons offer-icon">check_circle</i>$99 per month for being featured in the dining guide</li>
          <li class="check-list"><i class="material-icons offer-icon">check_circle</i>$1 fee per cover for reservations booked on their website</li>
          <li class="check-list"><i class="material-icons offer-icon">check_circle</i>$0.25 fee per cover for reservations booked on your website</li>
          <li class="check-list"><i class="material-icons offer-icon not-included-icon">not_interested</i>State-of-the-art website that looks great and functions flawlessly on any device, including smartphones</li>
          <li class="check-list"><i class="material-icons offer-icon not-included-icon">not_interested</i>Custom reservation platform that’s built into the website and does not require additional fees</li>
          <li class="check-list"><i class="material-icons offer-icon">check_circle</i>Admin panel for managing reservations, viewing guest data, and editing menus</li>
          <li class="check-list"><i class="material-icons offer-icon not-included-icon">not_interested</i>Search engine optimization so your website appears higher in Google search results</li>
        </ul>
      </div>
      <div class="card-action">
        <h4 class="package-price">$10k to 20k per year</h4>
      </div>
    </div>
  </div>
  <div class="col s12 m6">
    <div class="card">
      <div class="card-content">
        <span class="card-title"><h3 class="package-title">CoverCentric</h3></span>
        <ul>
          <li class="check-list"><i class="material-icons not-included-icon">not_interested</i><span class="fee-strikethrough">$1,300 for initial setup and required software</span></li>
          <li class="check-list"><i class="material-icons not-included-icon">not_interested</i><span class="fee-strikethrough">$249 per month service and software fee</span></li>
          <li class="check-list"><i class="material-icons not-included-icon">not_interested</i><span class="fee-strikethrough">$99 per month for being featured in the dining guide</span></li>
          <li class="check-list"><i class="material-icons not-included-icon">not_interested</i><span class="fee-strikethrough">$1 fee per cover for reservations booked on their website</span></li>
          <li class="check-list"><i class="material-icons not-included-icon">not_interested</i><span class="fee-strikethrough">$0.25 fee per cover for reservations booked on your website</span></li>
          <li class="check-list"><i class="material-icons offer-icon">check_circle</i>State-of-the-art website that looks great and functions flawlessly on any device, including smartphones</li>
          <li class="check-list"><i class="material-icons offer-icon">check_circle</i>Custom reservation platform that’s built into the website and does not require additional fees</li>
          <li class="check-list"><i class="material-icons offer-icon">check_circle</i>Admin panel for managing reservations, viewing guest data, and editing menus</li>
          <li class="check-list"><i class="material-icons offer-icon">check_circle</i>Search engine optimization so your website appears higher in Google search results</li>
        </ul>
      </div>
      <div class="card-action">
        <h4 class="package-price">Fixed Price. No Fees.</h4>
      </div>
    </div>
  </div>
</div>
<div id="consultation-btn-wrapper" class="row">
  <div class="col s12 m12 l12">
    <a href="https://calendly.com/cover-centric/30min" class="waves-effect waves-light btn-large" id="consultation-btn">Book Free Consultation</a>
  </div>
</div>
