<div class="row" id="pricing-header">
  <div class="col s12">
    <h4 class="body-headlines center">This is what you get:</h2>
  </div>
</div>
<div class="row">
  <div class="col s12 m12 l4">
    <div class="center">
      <i class="material-icons service-icons">mail_outline</i>
      <h5>Email Marketing</h5>
      <p class="services-copy">Building an email list can seem overwhelming, but a strong email list is one of the most valuable assets a business can have. We will build your email list and send monthly emails that promote a happy hour, a seasonal menu, or prompt them to make reservations for a holiday event.</p>
    </div>
  </div>
  <div class="col s12 m12 l4">
    <div class="center">
      <i class="material-icons service-icons">search</i>
      <h5>Google Search Ranking</h5>
      <p class="services-copy">When your restaurant doesn't rank as high as it should in a Google search result it
      can be frustrating. We use methods recommended by Google and proven techniques we’ve developed to ensure higher
      search rankings, resulting in more traffic to your website and ultimately more sales.</p>
    </div>
  </div>
  <div class="col s12 m12 l4">
    <div class="center">
      <i class="material-icons service-icons">text_format</i>
      <h5>Content Creation</h5>
      <p class="services-copy">Every month we will write a newsletter or an email promoting a special event and send it to everyone on the email list we are building. We will measure how well these marketing campaigns perform and optimize them to ensure customers remain enagaged with your brand.</p>
    </div>
  </div>
</div>
<div class="row">
  <div class="col s12 m12 l4">
    <div class="center">
      <i class="material-icons service-icons">stay_current_portrait</i>
      <h5>Mobile Friendly Website</h5>
      <p class="services-copy">Restaurant websites that are difficult to use on phones frustrate
      potential customers and result in lost business. Our websites are optimized for mobile devices
      so customers can quickly locate your restaurant, view menus, and make a reservation.</p>
    </div>
  </div>
  <div class="col s12 m12 l4">
    <div class="center">
      <i class="material-icons service-icons">chat</i>
      <h5>Social Networking</h5>
      <p class="services-copy">Maintaining Twitter accounts and FaceBook pages that keep customers engaged with your
      brand requires specialized skills. We will mangage your social media presence and convert followers and likes into
      paying customers.</p>
    </div>
  </div>
  <div class="col s12 m12 l4">
    <div class="center">
      <i class="material-icons service-icons">assessment</i>
      <h5>Monthly Reports</h5>
      <p class="services-copy">We will send you monthly reports regarding email list acquisitions, email engagement, where you rank in Google’s search results, and website traffic so you can see how well our services are perfoming for your restauant.</p>
    </div>
  </div>
</div>
<div class="row">
  <div class="col s12 s12 l6">
    <div class="center">
      <i class="material-icons service-icons">web</i>
      <h5>Updatable Menus</h5>
      <p class="services-copy">Nothing is more disheartening to a diner than hearing the food they want to eat is 86'd, even though it’s on the website menu. Our websites will allow you to update menu items and their prices at any time so your online menu is always up-to-date (available only in the Prime Package).</p>
    </div>
  </div>
  <div class="col s12 s12 l6">
    <div class="center">
      <i class="material-icons service-icons">event_available</i>
      <h5>Online Reservations</h5>
      <p class="services-copy">We will build an online reservation system that is customized to the number of seats in your dining room and how often you turn tables. The reservation system will be built into your website, so you won't have to rely on costly external services (available only in the Prime Package).</p>
    </div>
  </div>
</div>