<div class="parallax-container background-gradient" id="center-text">
  <div class="parallax">
    <%= image_tag 'dining-room.jpg' %>
  </div>
  <h2 class="home-hero-text">Does your restaurant need more customers? <br />
    We help you acquire new customers <br /> and keep them coming back.</h2>
</div>
<div class="container home-body">
  <h4 class="home-headlines">Is your restaurant averaging fewer daily covers than you expect?</h4>
  <p class="home-copy">Your food is delicious and your service is first-class, but you have too many empty
  seats in your dinning room.</p>
  <p class="home-copy">We use cutting edge online marketing strategies and proven web design techniques to
    increase your walk-ins, reservations, and to-go orders to help restaurants reach their potential.</p>
  <h4 class="home-headlines">Owners and managers should focus on <em>running</em> the restaurant.</h4>
  <p class="home-copy">Learning how to market your restaurant online and how to design a customer-generating website requires time
  and skills most restauranteurs don’t have.</p>
  <p class="home-copy">We have the expertise required to quickly launch a website and online marketing campaigns that drive customers to
  your website and your restaurant.</p>
</div>
<a class="waves-effect waves-light btn"><i class="material-icons left">cloud</i>button</a>
<a class="waves-effect waves-light btn"><i class="material-icons right">cloud</i>button</a>

<script type="text/javascript">
$(document).ready(function(){
    $('.parallax').parallax();
  });
</script>