<div class="parallax-container background-gradient center-text" id="home-parallax">
  <div class="parallax">
    <%= image_tag 'dining-room.jpg' %>
  </div>
  <h2 class="home-hero-text">Does your restaurant need more customers? <br />
    We help you acquire new customers <br /> and keep them coming back.</h2>
</div>
<div class="container body-copy">
  <h4 class="body-headlines center">Are your restaurant’s covers low because you’re not using online marketing and your website properly?</h4>
  <p class="body-copy">Are you harnessing the immense potential of email marketing to grow your customer base and keep them coming back? Is your website designed to merely look pretty, or was it built to drive new business to your restaurant?</p>
  <p class="body-copy">If you aren’t leveraging email marketing and don’t have a website that was built to convert visitors into customers, then you are missing out on a lot of potential business. Let CoverCentric transform your website into a cover-increasing tool that drives new and recurring business through your doors so you can focus on what you do best—creating an amazing dining experience for your guests.</p>
  <h4 class="body-headlines center">CoverCentric specializes in growing <br /> your customer base.</h4>
  <p class="body-copy">Other industries utilize email marketing because it is <a href="www.mckinsey.com/business-functions/marketing-and-sales/our-insights/why-marketers-should-keep-sending-you-emails">40 times more effective</a> than Twitter or Facebook at acquiring new customers. But this takes special skills, experience, and time that restauranteurs do not have. So leave the marketing and web design to us to ensure you aren’t neglecting a segment that can yield thousands of dollars in revenue per year.</p>
</div>
<div class="services-divider center-text">
  <h4 class="body-headlines center">Let us handle your online marketing and website <br /> so you’re free to do what you love.</h4>
</div>
<div class="container body-copy">
  <h4 class="body-headlines center">Here’s what we’ll do:</h4>
  <p class="body-copy">We will collect email addresses from visitors and build a list that we can email about upcoming events like a holiday party or a happy hour, dramatically increasing turnout. We will even write and send a monthly newsletter that informs your email list of new and exciting developments, a recurring reminder of how great your restaurant is.</p>
  <p class="body-copy">We will improve your website’s search results on Google to help new customers discover your restaurant and giving you a leg up on the competition.</p>
  <p class="body-copy">We will build a new website that focuses on converting visitors into customers through easy-to-read menus, engaging photography, and online reservations. And your site will be optimized for mobile devices, a critical feature since, according to Google, <strong>“50% of people said that even if they like a business, they will use them less often if the website isn't mobile-friendly.”</strong></p>
  <p class="body-copy">We will host, secure, and update your website too so you never have to worry about it.</p>
  <div class="row">
    <form class="col s12">
      <h4 class="body-headlines center">Get your <strong>FREE</strong> Website Performance Assessment.</h4><p class="body-copy"> We will analyze your website’s marketing, speed, ease of use, and mobile friendlines and email you the report. We will highlight areas that you can focus on to ensure your website is a tool that drives business to your restaurant.</p >
      <div class="row">
        <div class="input-field col s4">
          <i class="material-icons prefix test-icon">account_circle</i>
          <input id="icon_prefix" type="text" class="validate">
          <label for="icon_prefix">First Name</label>
        </div>
        <div class="input-field col s4">
          <i class="material-icons prefix test-icon">email</i>
          <input id="icon_email" type="tel" class="validate">
          <label for="icon_email">Email Address</label>
        </div>
        <div class="input-field col s4">
          <i class="material-icons prefix test-icon">web</i>
          <input id="icon_web" type="tel" class="validate">
          <label for="icon_web">Web Address</label>
        </div>
      </div>
    </form>
  </div>
</div>
<script type="text/javascript">
$(document).ready(function(){
    $('.parallax').parallax();
  });
</script>