<div class="parallax-container background-gradient" id="center-text">
  <div class="parallax">
    <%= image_tag 'dining-room.jpg' %>
  </div>
  <h2 class="home-hero-text">Does your restaurant need more customers? <br />
    We help you acquire new customers <br /> and keep them coming back.</h2>
</div>
<div class="container home-body">
  <h4 class="home-headlines">Is your restaurant averaging fewer daily covers than you expect?</h4>
  <p class="home-copy">Your food is delicious and your service is first-class, but you have too many empty
  seats in your dining room.</p>
  <p class="home-copy">We use effective online marketing strategies and proven web design techniques to
    increase your walk-ins, reservations, and to-go orders to help restaurants reach their potential.</p>
  <h4 class="home-headlines">Owners and managers should focus on <em>running</em> the restaurant.</h4>
  <p class="home-copy">Learning how to market your restaurant online and how to design a customer-generating website requires time
  and skills most restauranteurs don’t have.</p>
  <p class="home-copy">We have the expertise required to quickly launch a website and online marketing campaigns that drive customers to
  your website and, ultimately, your restaurant.</p>
  <h4 class="home-headlines center">How We Generate Customers</h4>
  <div class="row">
    <div class="col s4">
      <div class="center">
        <i class="material-icons">email</i>
        <h5>Email Marketing</h5>
        <p class="services-copy">Building an email list from scratch can seem overwhelming, but a strong email list
          is one of the most valuable assets a business can have. We will collect email addresses from website
          visitors and build a list of potential customers who you can notify of special offers and upcoming events.</p>
      </div>
    </div>
    <div class="col s4">
      <div class="center">
        <i class="material-icons">search</i>
        <h5>Google Search Ranking</h5>
        <p class="services-copy">When your restaurant doesn't rank as high as it should in a Google search result it
        can be frustrating. We use methods recommended by Google and proven techniques we’ve developed to ensure higher
        search rankings, resulting in more traffic to your website and ultimately more sales.</p>
      </div>
    </div>
    <div class="col s4">
      <div class="center">
        <i class="material-icons">stay_current_portrait</i>
        <h5>Mobile Friendly Website</h5>
        <p class="services-copy">Restaurants with websites that are difficult to use on phones are frustrating
        potential customers and losing business. Our websites are optimized for mobile devices so customers can
        quickly locate your restaurant, view menus, and make a reservation or place an order.</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col s4">
      <div class="center">
        <i class="material-icons">web</i>
        <h5>Updateable Menus</h5>
        <p class="services-copy">Nothing is more disheartening to a diner than hearing the dish they want is not
        available even though it’s on the website menu. Our websites allow you to update menu items and their prices
        at any time, from any device so your online menu is always up-to-date. </p>
      </div>
    </div>
    <div class="col s4">
      <div class="center">
        <i class="material-icons">payment</i>
        <h5>Online Payments</h5>
        <p class="services-copy">Accept payments online...</p>
      </div>
    </div>
    <div class="col s4">
      <div class="center">
        <i class="material-icons">assessment</i>
        <h5>Analytics</h5>
        <p class="services-copy">Monitor email marketing and website performance...</p>
      </div>
    </div>
  </div>
</div>
<a class="waves-effect waves-light btn"><i class="material-icons left">cloud</i>button</a>
<a class="waves-effect waves-light btn"><i class="material-icons right">cloud</i>button</a>

<script type="text/javascript">
$(document).ready(function(){
    $('.parallax').parallax();
  });
</script>