<div class="parallax-container background-gradient" id="center-text">
  <div class="parallax">
    <%= image_tag 'dining-room.jpg' %>
  </div>
  <h2 class="home-hero-text">Does your restaurant need more customers? <br />
    We help you acquire new customers <br /> and keep them coming back.</h2>
</div>
<div class="container home-body">
  <h4 class="home-headlines">Is your restaurant averaging fewer daily covers than you expect?</h4>
  <p class="home-copy">Does your dining room have more empty seats than you’d like, even though your
  restaurant has outstanding food and first-rate service? Is your restaurant struggling to get noticed
  in the ultra-competitive restaurant scene? If so, you’re not alone, and we’d like to help.</p>
  <p class="home-copy">CoverCentric specializes in finding new customers, enticing them to visit your restaurant, and turning them into repeat diners. We use proven online marketing techniques and tested web design principles to grow your covers.</p>
  <p>personalized email—just like guests love to be recognized when they enter your restaurant, your marketing needs to be personalized</p>
  <p class="home-copy">We use effective online marketing strategies and proven web design techniques to
    increase your walk-ins, reservations, and to-go orders to help restaurants reach their potential.</p>
  <h4 class="home-headlines">Owners and managers should focus on running the <em>restaurant.</em></h4>
  <p class="home-copy">Learning how to market your restaurant online and how to design a customer-generating website requires time
  and skills most restauranteurs don’t have.</p>
  <p class="home-copy">We have the expertise required to quickly launch a website and online marketing campaigns that drive customers to
  your website and your restaurant.</p>
  <h4 class="home-headlines center">How We Generate Customers</h4>
  <div class="row">
    <div class="col s4">
      <div class="center">
        <i class="material-icons">email</i>
        <h5>Email Marketing</h5>
        <p class="services-copy">Building an email list from scratch can seem overwhelming, but a strong email list
          is one of the most valuable assets a business can have. We will collect email addresses from website
          visitors and build a list of potential customers who you can notify of special offers and upcoming events.</p>
      </div>
    </div>
    <div class="col s4">
      <div class="center">
        <i class="material-icons">search</i>
        <h5>Google Search Ranking</h5>
        <p class="services-copy">When your restaurant doesn't rank as high as it should in a Google search result it
        can be frustrating. We use methods recommended by Google and proven techniques we’ve developed to ensure higher
        search rankings, resulting in more traffic to your website and ultimately more sales.</p>
      </div>
    </div>
    <div class="col s4">
      <div class="center">
        <i class="material-icons">stay_current_portrait</i>
        <h5>Mobile Friendly Website</h5>
        <p class="services-copy">Restaurant websites that are difficult to use on phones frustrate
        potential customers and result in lost business. Our websites are optimized for mobile devices
        so customers can quickly locate your restaurant, view menus, and make a reservation or place an order.</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col s4">
      <div class="center">
        <i class="material-icons">web</i>
        <h5>Updatable Menus</h5>
        <p class="services-copy">Nothing is more disheartening to a diner than hearing the dish they want is not
        available even though it’s on the website menu. Our websites allow you to update menu items and their prices
        at any time, from any device so your online menu is always up-to-date. </p>
      </div>
    </div>
    <div class="col s4">
      <div class="center">
        <i class="material-icons">chat</i>
        <h5>Social Networking</h5>
        <p class="services-copy">Maintaining Twitter accounts and FaceBook pages that keep customers engaged with your
        brand requires specialized skills. We will mangage your social media presence and convert followers and likes into
        paying customers.</p>
      </div>
    </div>
    <div class="col s4">
      <div class="center">
        <i class="material-icons">assessment</i>
        <h5>Analytics Reports</h5>
        <p class="services-copy">If it isn’t measured it can’t be improved. We will send you monthly reports regarding email list
        acquisitions, email engagement, and website traffic so you can see how well our services are perfoming for your restauant. </p>
      </div>
    </div>
  </div>
  <h4 class="home-headlines">You are probably thinking, “This sounds great, but I have some questions...”</h4>
  <ol>
    <li class="objections-questions">Is email marketing really effective?</li>
    <p class="objections-answers">Email marketing provides a greater return on investment than ANY other marketing. But don’t just take
    our word for it. Checkout Campaign Monitor’s <a href="https://www.campaignmonitor.com/blog/email-marketing/2016/01/70-email-marketing-stats-you-need-to-know/" class="link-accent">Email Marketing Stats for 2016.</a> Our favorite is #54: <strong id="email-quote">“For every $1 spent,
    email marketing generates $38.”</strong> That’s a return on investment of 3,700%!</p>
    <li class="objections-questions">Can’t I just use a simple website from one of those other providers?</li>
    <p class="objections-answers">Typical web design solutions only focus on the visual, but your website needs to be a
    tool that funnels customers to you restaurant—not just a collection of pages that display hours of operation
    and your location. Our website development is focused on one goal: driving business through your doors. </p>
    <li class="objections-questions">What do you know about the restaurant business?</li>
    <p class="objections-answers">Our founder has worked in all areas of the restaurant business—from dishwasher to line cook to front
    the house management—and we use this experiece to craft marketing campaigns and websites that solve the problems faced by all restaurants. </p>
    <li class="objections-questions">Can I afford to spend $149 per month on a website and online marketing?</li>
    <p class="objections-answers">Yes! Even if our service only drives 10 customers to your restaurant per month (we expect many more) and each
    one spends $30, that’s $300 in revenue—double what you spent on our service.</p>
    <li class="objections-questions">What if I am unhappy?</li>
    <p class="objections-answers">Cancel at any time...</p>

  </ol>
  <div class="row">
    <div class="col s12 m4">
      <div class="card">
        <div class="card-content">
          <span class="card-title">Option 1</span>
          <ul>
            <li class="check-list"><i class="material-icons offer-icon">check_circle</i>New website
            that looks great and functions flawlessly on any device, including smartphones.</li>
            <li class="check-list"><i class="material-icons offer-icon">check_circle</i>Email marketing campaign
            that builds your email list and notifies these customers of special offers and upcomming events.</li>
            <li class="check-list"><i class="material-icons offer-icon">check_circle</i>Improved Google search rankings
            so your restaurant appears higher in the search results.</li>
          </ul>
        </div>
        <div class="card-action">
          <a class="waves-effect waves-light btn buy-btn">Buy Option 1</a>
        </div>
     </div>
   </div>
   <div class="col s12 m4">
     <div class="card">
       <div class="card-content">
         <span class="card-title">Option 2</span>
         <p>I am a very simple card. I am good at containing small bits of information.
         I am convenient because I require little markup to use effectively.</p>
       </div>
       <div class="card-action">
         <a class="waves-effect waves-light btn buy-btn">Buy Option 2</a>
       </div>
    </div>
  </div>
  <div class="col s12 m4">
    <div class="card">
      <div class="card-content">
        <span class="card-title">Option 3</span>
        <p>I am a very simple card. I am good at containing small bits of information.
        I am convenient because I require little markup to use effectively.</p>
      </div>
      <div class="card-action">
        <a class="waves-effect waves-light btn buy-btn">Buy Option 3</a>
      </div>
   </div>
 </div>
 </div>
</div>

<script type="text/javascript">
$(document).ready(function(){
    $('.parallax').parallax();
  });
</script>