<% content_for :head do %>
  <meta name="google-site-verification" content="w4_DUQ3veglITXfZRStkdwkSb2eck6xWUhLLpx6gFeI" />
  <title>CoverCentric: Reclaim Your Reservations.</title>
  <meta name="description" content="CoverCentric designs and builds custom restaurant websites with built-in reservation software that does not require monthly fees or cover surcharges.">
<% end %>
<div class="parallax-container home-background-gradient center-text" id="home-parallax">
  <div class="parallax">
    <%= image_tag 'restaurant-bg-image.svg' %>
  </div>
  <h2 class="hero-problem">Are you tired of paying OpenTable for your own customers?</h2>
  <h3 class="hero-solution">Save thousands of dollars every year by switching to CoverCentric.</h3>
</div>
<div class="container body-copy">
  <div class="row">
    <div class="col-md-12">
      <%= image_tag 'profile-picture-cc.jpg', class:'profile-pic' %>
      <p class="body-copy profile-text">I’m Ryan and I build websites and software for the restaurant industry, but I spent my early twenties working in restaurants as a dishwasher, bartender, server, and line cook. I’m tired of seeing some of my favorite restaurants struggle finacially while paying THOUSANDS per year for online reservation services. So I started CoverCentric, a software consultancy that builds websites with integrated reservation systems that never require monthly fees or cover surcharges.</p>
    </div>
  </div>
  <div class="row" id="copy-intro-row">
    <h4 class="body-headlines center">Why should you have to pay a monthly fee AND a surcharge for each cover in every online reservation?</h4>
    <p class="body-copy">You shouldn’t. The reservations are <span class="emphatic">your</span> customers and they want to dine at <span class="emphatic">your</span> restaurant because of the amazing food and outstanding service—not because of some online reservation service. So take back <span class="emphatic">your</span> reservations and stop paying excessive booking fees by switching to CoverCentric. Check out this demo of Rezzy Master, my online reservation system:</p>
    <div class="iframe-container">
      <iframe width="853" height="480" src="https://www.youtube.com/embed/0-HynfSsMdY?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
    </div>
    <h4 class="body-headlines center">Fed up with OpenTable driving reservations to their website where you pay 3X more per cover?</h4>
    <p class="body-copy">If you currently use OpenTable, google “your-restaurant’s-name reservations” and chances are the first result will be an ad with a link to the OpenTable website. Guests are much more likely to click on the OpenTable link than the link for your restuarant that appears well below.</p>
    <p class="body-copy">Let that sink in—OpenTable is <span class="emphatic">paying</span> for ads that drive traffic away from your website to theirs, where you pay 3X more for each reservation. If the OpenTable ad sends 100 of your guests to their website every week, that’s $5,200 in cover surcharges—300% more than you’d pay if they booked a reservation using the OpenTable widget on your website. It’s time to take the middleman out of the the equation and integrate reservation booking into your website.</p>
  </div>
</div>
<div class="home-divider center-text">
  <h4 class="body-headlines center">I'll build your website and reservation platform for one fixed price. You get to stop paying for each reservation.</h4>
</div>
<div class="container body-copy">
  <%= render 'pricing' %>
</div>
<script type="text/javascript">
$(document).ready(function(){
    $('.parallax').parallax();
  });
</script>