<% content_for :head do %>
  <meta name="google-site-verification" content="w4_DUQ3veglITXfZRStkdwkSb2eck6xWUhLLpx6gFeI" />
<% end %>
<div class="parallax-container background-gradient center-text" id="home-parallax">
  <div class="parallax">
    <%= image_tag 'dining-room.jpg' %>
  </div>
  <h2 class="home-hero-text">Does your restaurant need more customers? <br />
    We help you acquire new customers <br /> and keep them coming back.</h2>
</div>
<div class="container body-copy">
  <div class="row">
    <h4 class="body-headlines center">Are your restaurant’s covers low because you’re not using online marketing and your website properly?</h4>
    <p class="body-copy">Are you harnessing the immense potential of email marketing to grow your customer base and keep them coming back? Is your website designed to merely look pretty, or was it built to drive new business to your restaurant?</p>
    <p class="body-copy">If you aren’t leveraging email marketing and don’t have a website that was built to convert visitors into customers, then you are missing out on a lot of potential business. Let CoverCentric transform your website into a cover-increasing tool that drives new and recurring business through your doors so you can focus on what you do best—creating an amazing dining experience for your guests.</p>
    <h4 class="body-headlines center">Don’t lose customers to the competition.</h4>
    <p class="body-copy">If your current website isn’t optimized for smartphones, you are turning off potential customers. According to a recent study by Google, <strong>“50% of people said that even if they like a business, they will use them less often if the website isn't mobile-friendly.”</strong> Our websites are built specifially for mobile devices, ensuring customers will be able to view your menu, find your address, and make a reservation while they are on the go.</p>
    <p class="body-copy">Other industries utilize email marketing because it is <a href="www.mckinsey.com/business-functions/marketing-and-sales/our-insights/why-marketers-should-keep-sending-you-emails">40 times more effective</a> than Twitter or Facebook at acquiring new customers. But this takes special skills, experience, and time that restauranteurs do not have. We have the knowledge and the expertise to create personalized email marketing campaigns that bring new customers to your restaurant and keep your current customers coming back.</p>
  </div>
</div>
<div class="services-divider center-text">
  <h4 class="body-headlines center">Let us handle your online marketing and website <br /> so you can focus on the day-to-day operations.</h4>
</div>
<div class="container body-copy">
  <%= render 'services' %>
  <h5 class="body-headlines">You are probably thinking, “This sounds great, but I have some questions...”</h5>
  <ol>
    <li class="objections-questions">Is email marketing really effective?</li>
    <p class="objections-answers">Email marketing provides a greater return on investment than ANY other marketing. But don’t just take
    our word for it. Checkout Campaign Monitor’s <a href="https://www.campaignmonitor.com/blog/email-marketing/2016/01/70-email-marketing-stats-you-need-to-know/" class="link-accent">Email Marketing Stats for 2016.</a> Our favorite is #54: <strong id="email-quote">“For every $1 spent,
    email marketing generates $38.”</strong> That’s a return on investment of 3,700%!</p>
    <li class="objections-questions">Can’t I just use a simple website from one of those other providers?</li>
    <p class="objections-answers">Typical web design solutions only focus on the visual, but your website needs to be a
    tool that funnels customers to you restaurant—not just a collection of pages that display hours of operation
    and your location. Our website development is focused on one goal: driving business through your doors. </p>
    <li class="objections-questions">What do you know about the restaurant business?</li>
    <p class="objections-answers">Our founder has worked in all areas of the restaurant business—from dishwasher to line cook to front
    the house management—and we use this experiece to craft marketing campaigns and websites that solve the problems faced by all restaurants. </p>
    <li class="objections-questions">What if I am unhappy?</li>
    <p class="objections-answers">We offer <strong>The Comp</strong>: if you are unhappy or tell us that the service is just not right for you within 30 days of the website’s launch, we’ll refund 100% of the money you spent.</p>
  </ol>
  <%= render 'pricing' %>
</div>
<script type="text/javascript">
$(document).ready(function(){
    $('.parallax').parallax();
  });
</script>