<div class="container body-copy">
  <div class="row" id="pricing-header">
    <div class="col s12">
      <h4 class="body-headlines center">We offer fixed-price services with monthly reports that show you the return you’re getting on your investment.</h2>
    </div>
  </div>
  <div class="row">
    <div class="col s12 m4">
      <div class="center">
        <i class="material-icons">email</i>
        <h5>Email Marketing</h5>
        <p class="services-copy">Building an email list from scratch can seem overwhelming, but a strong email list
          is one of the most valuable assets a business can have. We will collect email addresses from website
          visitors and build a list of potential customers who you can notify of special offers and upcoming events.</p>
      </div>
    </div>
    <!-- <div class="col s12 m4">
      <div class="center">
        <i class="material-icons">search</i>
        <h5>Google Search Ranking</h5>
        <p class="services-copy">When your restaurant doesn't rank as high as it should in a Google search result it
        can be frustrating. We use methods recommended by Google and proven techniques we’ve developed to ensure higher
        search rankings, resulting in more traffic to your website and ultimately more sales.</p>
      </div>
    </div> -->
    <div class="col s12 m4">
      <div class="center">
        <i class="material-icons">edit</i>
        <h5>Content Creation</h5>
        <p class="services-copy">Every month we will write a newsletter or an email promoting a special event and send it to everyone on the email list we are building. We will measure how well these marketing campaigns perform and optimize them to ensure customers remain enagaged with your brand.</p>
      </div>
    </div>
    <div class="col s12 m4">
      <div class="center">
        <i class="material-icons">stay_current_portrait</i>
        <h5>Mobile Friendly Website</h5>
        <p class="services-copy">Restaurant websites that are difficult to use on phones frustrate
        potential customers and result in lost business. Our websites are optimized for mobile devices
        so customers can quickly locate your restaurant, view menus, and make a reservation, or place an order.</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col s12 m4">
      <div class="center">
        <i class="material-icons">web</i>
        <h5>Updatable Menus</h5>
        <p class="services-copy">Nothing is more disheartening to a diner than hearing the food they want to eat is 86'd, even though it’s on the website menu. Our websites will allow you to update menu items and their prices at any time so your online menu is always up-to-date.</p>
      </div>
    </div>
    <div class="col s12 m4">
      <div class="center">
        <i class="material-icons">chat</i>
        <h5>Social Networking</h5>
        <p class="services-copy">Maintaining Twitter accounts and FaceBook pages that keep customers engaged with your
        brand requires specialized skills. We will mangage your social media presence and convert followers and likes into
        paying customers.</p>
      </div>
    </div>
    <div class="col s12 m4">
      <div class="center">
        <i class="material-icons">assessment</i>
        <h5>Analytics Reports</h5>
        <p class="services-copy">If it isn’t measured it can’t be improved. We will send you monthly reports regarding email list
        acquisitions, email engagement, and website traffic so you can see how well our services are perfoming for your restauant. </p>
      </div>
    </div>
  </div>
  <h4 class="body-headlines">You are probably thinking, “This sounds great, but I have some questions...”</h4>
  <ol>
    <li class="objections-questions">Is email marketing really effective?</li>
    <p class="objections-answers">Email marketing provides a greater return on investment than ANY other marketing. But don’t just take
    our word for it. Checkout Campaign Monitor’s <a href="https://www.campaignmonitor.com/blog/email-marketing/2016/01/70-email-marketing-stats-you-need-to-know/" class="link-accent">Email Marketing Stats for 2016.</a> Our favorite is #54: <strong id="email-quote">“For every $1 spent,
    email marketing generates $38.”</strong> That’s a return on investment of 3,700%!</p>
    <li class="objections-questions">Can’t I just use a simple website from one of those other providers?</li>
    <p class="objections-answers">Typical web design solutions only focus on the visual, but your website needs to be a
    tool that funnels customers to you restaurant—not just a collection of pages that display hours of operation
    and your location. Our website development is focused on one goal: driving business through your doors. </p>
    <li class="objections-questions">What do you know about the restaurant business?</li>
    <p class="objections-answers">Our founder has worked in all areas of the restaurant business—from dishwasher to line cook to front
    the house management—and we use this experiece to craft marketing campaigns and websites that solve the problems faced by all restaurants. </p>
    <li class="objections-questions">Can I afford to spend $249 per month on a website and online marketing?</li>
    <p class="objections-answers">Yes! Even if our service only drives 10 customers to your restaurant per month (we expect many more) and each one spends $30, that’s $300 in revenue—a 20% return on your investment.</p>
    <li class="objections-questions">What if I am unhappy?</li>
    <p class="objections-answers">We offer <strong>The Comp</strong>, a 100% money-back guarantee if you are unhappy or tell us that the service is just not right for you.</p>

  </ol>
  <div class="row">
    <div class="col s12 m6">
      <div class="card">
        <div class="card-content">
          <span class="card-title"><h3 class="package-title">Choice Package</h3></span>
          <ul>
            <li class="check-list"><i class="material-icons offer-icon">check_circle</i>We will design, build, host, and monitor a new website that looks great and functions flawlessly on any device, including smartphones.</li>
            <li class="check-list"><i class="material-icons offer-icon">check_circle</i>You’ll get a full-servie email marketing campaign: we will grow your list and send these customers monthly emails about special events, upcomming events, or whatever you want to promote.</li>
            <li class="check-list"><i class="material-icons offer-icon">check_circle</i>We will improve your Google search rankings so your restaurant appears higher in the search results.</li>
            <li class="check-list"><i class="material-icons offer-icon">check_circle</i>Your website will have an admin panel you can log-in to so you can edit your menu quickly and easily.</li>
            <li class="check-list"><i class="material-icons offer-icon">check_circle</i>You’ll receive a monthly report that shows how much your email list has grown, how well the monthly emails are performing, and how many visitors your website has received.</li>
            <li class="check-list not-included"><i class="material-icons offer-icon">not_interested</i>We will integrate the online ordering service you prefer (GrubHub or Chownow) into the website.</li>
            <li class="check-list not-included"><i class="material-icons offer-icon">not_interested</i>We will build a custom reservations platform into the website that’s tailored for the number of seats you have and how often you turn the tables.</li>
            <li class="check-list not-included"><i class="material-icons offer-icon">not_interested</i>We will post to two social media accounts (Twitter, Instagram, or FaceBook) twice a week and grow your following on these platforms.</li>
          </ul>
        </div>
        <div class="card-action">
          <h4 class="package-price">$499 per month</h4>
        </div>
     </div>
   </div>
   <div class="col s12 m6">
     <div class="card">
       <div class="card-content">
         <span class="card-title"><h3 class="package-title">Prime Package</h3></span>
         <ul>
           <li class="check-list"><i class="material-icons offer-icon">check_circle</i>We will design, build, host, and monitor a new website that looks great and functions flawlessly on any device, including smartphones.</li>
           <li class="check-list"><i class="material-icons offer-icon">check_circle</i>You’ll get a full-servie email marketing campaign: we will grow your list and send these customers monthly emails about special events, upcomming events, or whatever you want to promote.</li>
           <li class="check-list"><i class="material-icons offer-icon">check_circle</i>We will improve your Google search rankings so your restaurant appears higher in the search results.</li>
           <li class="check-list"><i class="material-icons offer-icon">check_circle</i>Your website will have an admin panel you can log-in to so you can edit your menu quickly and easily.</li>
           <li class="check-list"><i class="material-icons offer-icon">check_circle</i>You’ll receive a monthly report that shows how much your email list has grown, how well the monthly emails are performing, and how many visitors your website has received.</li>
           <li class="check-list"><i class="material-icons offer-icon">check_circle</i>We will integrate the online ordering service you prefer (GrubHub or Chownow) into the website.</li>
           <li class="check-list"><i class="material-icons offer-icon">check_circle</i>We will build a custom reservations platform into the website that’s tailored for the number of seats you have and how often you turn the tables.</li>
           <li class="check-list"><i class="material-icons offer-icon">check_circle</i>We will post to two social media accounts (Twitter, Instagram, or FaceBook) twice a week and grow your following on these platforms.</li>
         </ul>
       </div>
       <div class="card-action">
         <h4 class="package-price">$599 per month</h4>
       </div>
    </div>
  </div>
 </div>
</div>