<div class="body-copy">
  <div class="row" id="pricing-header">
    <div class="col s12">
      <h4 class="body-headlines center">This is what you get:</h2>
    </div>
  </div>
  <div class="row">
    <div class="col s12 s12 l6">
      <div class="center">
        <i class="material-icons service-icons">code</i>
        <h5>Website Design & Development</h5>
        <p class="services-copy"></p>
      </div>
    </div>
    <div class="col s12 m12 l6">
      <div class="center">
        <i class="material-icons service-icons">stay_current_portrait</i>
        <h5>Optimized for Mobile</h5>
        <p class="services-copy">Restaurant websites that are difficult to use on phones frustrate
          customers and result in lost business. Our websites are optimized for mobile devices
          so customers can quickly locate your restaurant, view menus, and make a reservation.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col s12 s12 l6">
        <div class="center">
          <i class="material-icons service-icons">event_available</i>
          <h5>Online Reservations</h5>
          <div>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/0-HynfSsMdY?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
          </div>

        </div>
      </div>
      <div class="col s12 s12 l6">
        <div class="center">
          <i class="material-icons service-icons">web</i>
          <h5>Updatable Menus</h5>
          <div>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/lVzFaXHAMhU?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
  <div class="row">
    <div class="col s12 m12 l6">
      <div class="center">
        <i class="material-icons service-icons">security</i>
        <h5>Hosted & Secure Website</h5>
        <p class="services-copy">When your restaurant doesn't rank as high as it should in a Google search result it
        can be frustrating. We use methods recommended by Google and proven techniques we’ve developed to ensure higher
        search rankings, resulting in more traffic to your website and ultimately more sales.</p>
      </div>
    </div>
    <div class="col s12 m12 l6">
      <div class="center">
        <i class="material-icons service-icons">search</i>
        <h5>Google Search Ranking</h5>
        <p class="services-copy">When your restaurant doesn't rank as high as it should in a Google search result it
        can be frustrating. We use methods recommended by Google and proven techniques we’ve developed to ensure higher
        search rankings, resulting in more traffic to your website and ultimately more sales.</p>
      </div>
    </div>
  </div>
</div>