<div class="parallax-container center-text services-background-gradient" id="home-parallax">
  <div class="parallax">
    <%= image_tag 'restaurant-bg-image.svg' %>
  </div>
  <h2 class="home-hero-problem">A website and reservation system in one.</h2>
  <h3 class="home-hero-solution">Zero fees. No hardware requirements.</h3>
</div>
<div class="services-container">
  <div class="body-copy">
    <div class="row">
      <div class="col s12 s12 l6">
        <div class="center">
          <h5 class="service-header">Website Design & Development</h5>
          <p class="services-copy">You’ll get a website that enhances your brand through amazing design and functionality. The website can highlight images of your food and restaurant and we can use compelling copy to sell your restaurant’s unique story. The website will be fast, reliable, and easy for guests to navigate.</p>
        </div>
      </div>
      <div class="col s12 m12 l6">
        <div class="center">
          <h5 class="service-header">Optimized for Mobile</h5>
          <p class="services-copy">Restaurant websites that are difficult to use on phones frustrate
            customers and result in lost business. Your website will be optimized for mobile devices
            so customers can quickly locate your restaurant, view menus, and make a reservation.</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col s12 s12 l6">
          <div class="center">
            <h5 class="service-header">Online Reservations</h5>
            <p class="services-copy">The reservation system is built into your website, so you’ll be able to manage reservations from any device—phone, tablet, or computer.</p>
            <div>
              <iframe width="560" height="315" src="https://www.youtube.com/embed/0-HynfSsMdY?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
            </div>
          </div>
        </div>
        <div class="col s12 s12 l6">
          <div class="center">
            <h5 class="service-header">Updatable Menus</h5>
            <p class="services-copy">You’ll be able to edit menu descriptions, change prices, or change an item’s availability so online menus are always up-to-date.</p>
            <div>
              <iframe width="560" height="315" src="https://www.youtube.com/embed/lVzFaXHAMhU?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
            </div>
          </div>
        </div>
      </div>
    <div class="row">
      <div class="col s12 m12 l6">
        <div class="center">
          <h5 class="service-header">Hosted & Secure Website</h5>
          <p class="services-copy">When your restaurant doesn't rank as high as it should in a Google search result it
          can be frustrating. We use methods recommended by Google and proven techniques we’ve developed to ensure higher
          search rankings, resulting in more traffic to your website and ultimately more sales.</p>
        </div>
      </div>
      <div class="col s12 m12 l6">
        <div class="center">
          <h5 class="service-header">Google Search Ranking</h5>
          <p class="services-copy">When your restaurant doesn't rank as high as it should in a Google search result it
          can be frustrating. We use methods recommended by Google and proven techniques we’ve developed to ensure higher
          search rankings, resulting in more traffic to your website and ultimately more sales.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
$(document).ready(function(){
    $('.parallax').parallax();
  });
</script>



