<div class="parallax-container center-text services-background-gradient" id="home-parallax">
  <div class="parallax">
    <%= image_tag 'restaurant-bg-image.svg' %>
  </div>
  <h2 class="home-hero-problem">A website and reservation system in one.</h2>
  <h3 class="home-hero-solution">Zero fees. No hardware requirements.</h3>
</div>
<div class="services-container">
  <div class="body-copy">
    <div class="row">
      <div class="col s12 s12 l6">
        <div class="center">
          <h5 class="service-header">Website Design & Development</h5>
          <p class="services-copy"></p>
        </div>
      </div>
      <div class="col s12 m12 l6">
        <div class="center">
          <h5 class="service-header">Optimized for Mobile</h5>
          <p class="services-copy">Restaurant websites that are difficult to use on phones frustrate
            customers and result in lost business. Our websites are optimized for mobile devices
            so customers can quickly locate your restaurant, view menus, and make a reservation.</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col s12 s12 l6">
          <div class="center">
            <h5 class="service-header">Online Reservations</h5>
            <div>
              <iframe width="560" height="315" src="https://www.youtube.com/embed/0-HynfSsMdY?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
            </div>
          </div>
        </div>
        <div class="col s12 s12 l6">
          <div class="center">
            <h5 class="service-header">Updatable Menus</h5>
            <div>
              <iframe width="560" height="315" src="https://www.youtube.com/embed/lVzFaXHAMhU?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
            </div>
          </div>
        </div>
      </div>
    <div class="row">
      <div class="col s12 m12 l6">
        <div class="center">
          <h5 class="service-header">Hosted & Secure Website</h5>
          <p class="services-copy">When your restaurant doesn't rank as high as it should in a Google search result it
          can be frustrating. We use methods recommended by Google and proven techniques we’ve developed to ensure higher
          search rankings, resulting in more traffic to your website and ultimately more sales.</p>
        </div>
      </div>
      <div class="col s12 m12 l6">
        <div class="center">
          <h5 class="service-header">Google Search Ranking</h5>
          <p class="services-copy">When your restaurant doesn't rank as high as it should in a Google search result it
          can be frustrating. We use methods recommended by Google and proven techniques we’ve developed to ensure higher
          search rankings, resulting in more traffic to your website and ultimately more sales.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
$(document).ready(function(){
    $('.parallax').parallax();
  });
</script>



