<div class="container body-copy" id="website-critic-container">
  <div class="row">
    <form class="col s12">
      <h4 class="body-headlines center">Want to know how your website stacks up? <br /> The Website Critic will review your website for <strong id="critic-free">FREE!</strong></h4>
      <p class="body-copy">The Website Critic will analyze your website’s marketing, speed, ease of use, and mobile friendlines and email you the report. He will highlight areas you can focus on to ensure your website is a tool that drives business to your restaurant.</p >
      <div class="material-form col s12 m8 l6 offset-m2 offset-l3">
        <div class="row">
          <div class="input-field col s12">
            <input id="first_name" type="text" class="validate">
            <label for="first_name">First Name</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="email" type="email" class="validate">
            <label for="email" data-error="invalid email">Email Address</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="url" type="text" class="validate">
            <label for="url">Website Address</label>
          </div>
        </div>
    </form>
    <button class="btn waves-effect waves-light analyze-btn col s12" type="submit" name="action">Review My Site</button>
    </div>
  </div>
</div>