<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Here is the assessment request details:</h3>
    <p>Name: <%= @assessment_request.first_name %></p>
    <p>Name: <%= @assessment_request.email %></p>
    <p>Name: <%= @assessment_request.url %></p>
  </body>
</html>