/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @charset "UTF-8";

 // Mixins
 // @import "materialize/components/prefixer";
 @import "materialize/components/mixins";
 @import "materialize/components/color";
 $primary-color-dark:   #00796B !default;
 $primary-color:        #009688 !default;
 $primary-color-light:  #B2DFDB !default;
 $primary-color-text:   #FFFFFF !default;
 $accent-color:         #448AFF !default;
 $primary-text-color:   #212121 !default;
 $secondary-text-color: #757575 !default;
 $divider-color:        #BDBDBD !default;
 // $primary-color: color("green", "base") !default;
 // $secondary-color: color("indigo", "accent-2") !default;

 // Variables;
 @import "materialize/components/variables";

 // Reset
 @import "materialize/components/normalize";

 // materialize/components
 @import "materialize/components/global";
 @import "materialize/components/icons-material-design";
 @import "materialize/components/grid";
 @import "materialize/components/navbar";
 @import "materialize/components/roboto";
 @import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:900');
 @import "materialize/components/typography";
 @import "materialize/components/cards";
 @import "materialize/components/toast";
 @import "materialize/components/tabs";
 @import "materialize/components/tooltip";
 @import "materialize/components/buttons";
 @import "materialize/components/dropdown";
 @import "materialize/components/waves";
 @import "materialize/components/modal";
 @import "materialize/components/collapsible";
 @import "materialize/components/chips";
 @import "materialize/components/materialbox";
 @import "materialize/components/forms/forms";
 @import "materialize/components/table_of_contents";
 @import "materialize/components/sideNav";
 @import "materialize/components/preloader";
 @import "materialize/components/slider";
 @import "materialize/components/carousel";
 @import "materialize/components/date_picker/default";
 @import "materialize/components/date_picker/default.date";
 @import "materialize/components/date_picker/default.time";
 @import "font-awesome";

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

nav {
  box-shadow: none;
}

#main-nav {
  background-color: #fafafa;
}

#wordmark {
  max-width: 263px;
  max-height: 66px;
}

.home-background-gradient {
  background: rgba(31, 160, 135, .82);
}

.hero-problem {
  text-align: center;
  color: #fff;
  font-weight: 700;
  line-height: 65px;
}

.hero-solution {
  text-align: center;
  color: #fff;
  font-weight: 500;
}

.center-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#navbar-spacing {
  padding: 0 15px;
}

.nav-links {
  padding: 0;
  margin: 0 20px;
  letter-spacing: 1px;
  font-size: 1.2rem;
  color: #2C5DA5;
  height: 50px;
}

.mobile-nav {
  width: 150px;
  background-color: #202020;
  padding-top: 40px;
}

.mobile-nav a {
  color: #fff;
}

.body-headlines {
  font-weight: 500;
}

.body-copy h4 {
  color: #202020;
}

.body-copy p {
  color: #757575;
}

.body-copy .material-icons {
  color: #2C5DA5;
}

#home-parallax {
  margin-bottom: 50px;
}

.objections-questions {
  font-weight: 700;
}

#copy-intro-row {
  margin-top: 50px;
}

.profile-pic {
  border: 1px solid #d9d4dc;
  border-radius: 50%;
  float: left;
  -webkit-shape-outside:circle();
  shape-outside:circle();
  margin-right: 20px;
}

.profile-text {
  font-size: 1.2rem !important;
  padding-top: 20px;
}

.emphatic {
  font-weight: 700;
  text-decoration: underline;
}

.iframe-container {
  position: relative;
	padding-bottom: 56.25%;
	padding-top: 25px;
	height: 0;
}

#email-quote {
  font-weight: 700;
}

.link-accent {
  color: #536DFE;
  text-decoration: underline;
}

.check-list {
  display: inline-flex;
  vertical-align: middle;
  margin: 5px 0;
  color: #202020;
}

div#consultation-btn-wrapper {
  text-align: center;
  margin: 60px 0;
}

#consultation-btn {
  background-color: #faaf30;
  font-weight: 700;
}

#consultation-btn:hover {
  background-color: #FFD080;
}

.analyze-btn {
  background-color: #FF5252;
  text-transform: none;
}

.analyze-btn:hover {
  background-color: #ff8585;
}

.material-form {
  background-color: #fff;
  padding: 20px !important;
  border: 1px solid #ebebeb;
	box-shadow: rgba(0,0,0,0.14902) 0px 1px 1px 0px,rgba(0,0,0,0.09804) 0px 1px 2px 0px;
  margin-top: 30px;
}

i.material-icons.logo {
  margin-right: 0 !important;
}


.footer-brand-name {
  font-family: 'Source Code Pro', monospace;
}

.home-divider {
  background-color: #1FA087;
  height: 170px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.home-divider h4 {
  color: #fff;
}

#footer-background {
  background-color: #1FA087;
}

//services styles
.services-background-gradient {
  background: rgba(250, 175, 48, .9);
}

.services-container {
  padding: 0 2%;
}

.service-header {
  color: #2C5DA5;
  font-weight: 700;
}

@media only screen and (min-width: 1250px) {
  .services-container {
    padding: 0 5%;
  }
}

@media only screen and (min-width: 992px) {
  .nav-wrapper {
    padding: 0 15px;
  }

  .nav-links:hover {
    background-color: #fafafa;
    color: #1FA087;
    border-bottom: 2px solid #1FA087;
    border-bottom-width: 2px;
  }

  i.material-icons.logo {
    font-size: 2.5rem;
  }

  #consultation-btn {
    width: 50%;
  }
}

@media only screen and (max-width: 992px) {
  .hamburger {
    color: #202020;
  }
}

@media only screen and (min-width: 801px) {

  .hero-problem {
    padding: 0px 130px;
  }

  .hero-solution {
    padding: 0px 150px;
  }

  .body-copy {
    font-size: 1.3rem;
  }

  .iframe-container iframe {
    position: absolute;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 80%;
  }

  .home-divider {
    padding-left: 10%;
    padding-right: 10%;
  }

  #pricing-header {
    margin-top: 25px !important;
    margin-bottom: 25px !important;
  }

  .service-icons {
    font-size: 4rem !important;
  }

  .services-copy {
    font-size: 1.1rem;
  }

  .objections-answers {
    font-size: 1.1rem;
  }

  .offer-icons {
    font-size: 2rem;
  }

  .fee-strikethrough {
    text-decoration: line-through;
  }

  .package-title {
    font-size: 2rem;
  }

  .card-content li {
    font-size: 1.1rem;
  }

  #consultation-btn {
    width: 50%;
  }

  footer .fa {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 800px) {
  .iframe-container {
    margin-bottom: 35px;
  }

  .iframe-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

@media only screen and (min-width: 601px) {
  nav {
    height: 66px;
  }
}

@media only screen and (min-width: 451px) and (max-width: 800px) {
  .hero-problem {
    line-height: 45px;
    padding: 0 5%;
    font-size: 3.2rem;
  }

  .hero-solution {
    font-size: 2.9rem;
    padding: 0 8%;
  }

  .body-headlines {
    font-size: 2.05rem;
  }

  .body-copy {
    font-size: 1.25rem;
  }

  .home-divider {
    padding: 0 57px;
  }

  #pricing-header {
    margin-top: 25px !important;
    margin-bottom: 25px !important;
  }

  .service-icons {
    font-size: 4rem !important;
  }

  .offer-icons {
    font-size: 2rem;
  }

  .package-title {
    font-size: 2.25rem;
  }

  #consultation-btn {
    width: 100%;
  }

  footer .fa {
    font-size: 3rem;
  }
}

@media only screen and (max-width: 450px) {
  .hero-problem {
    line-height: 45px;
    margin: 0;
    padding: 5px;
    font-size: 2.5rem;
  }

  .hero-solution {
    line-height: 40px;
    margin: 0;
    padding: 5px;
    font-size: 2rem;
  }

  #home-parallax {
    margin-bottom: 25px;
  }

  .body-headlines {
    font-size: 1.75rem;
    line-height: 121%;
  }

  .body-copy {
    font-size: 1.25rem;
    padding: 0 1%;
  }

  .home-divider {
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 0 2%;
  }

  .package-title {
    font-size: 2.5rem;
  }

  #pricing-header {
    margin-top: 25px !important;
    margin-bottom: 25px !important;
  }

  .service-icons {
    font-size: 4rem !important;
  }

  .offer-icons {
    font-size: 2rem;
  }

  #consultation-btn {
    width: 100%;
  }

  footer .fa {
    font-size: 3rem;
  }
}

footer .fa {
  color: #fff;
  padding: 0 6px;
}

.footer-links {
  display: inline;
  padding: 0 2em;
}

#footer-social-icons {
  margin-top: 5px;
}

.social-links {
  display: inline;
  padding: 0 1em;
}

.page-footer h4, h6 {
  margin: 0;
}

.page-footer ul {
  margin: 5px 0;
}

#pricing-header {
  margin-top: 60px;
  margin-bottom: 40px;
}

.package-title {
  font-weight: 700 !important;
  text-align: center;
  margin-top: 10px;
}

.package-price {
  color: #2C5DA5 !important;
  text-align: center;
  font-weight: 700;
}

.offer-icon {
  width: 30px;
}

.not-included-icon {
  color: #202020 !important;
  width: 30px;
}

.not-included {
  color: #bdbdbd;
}

//****** Blog Styles ******//

.blog-background {
  background: rgba(44, 93, 165, .82);
}

.blog-title-hero h2 {
  text-align: center;
  color: #fff;
  font-weight: 500;
  font-size: 4rem;
}

.blog-title {
  color: #202020;
  font-weight: 500;
  font-size: 2.28rem;
}

.blog-text {
  color: #757575;
  margin-top: 0px;
}

.blog-show-title {
  font-size: 4rem;
}
.read-more {
  background-color: #faaf30;
  font-weight: 700;
}

.read-more:hover {
  background-color: #FFD080;
}

.destroy-btn {
  background-color: #FF5252;
}

.destroy-btn:hover {
  background-color: #ff8585;
}

.destroy-article-btn {
  padding: 0 0.75rem;
}

.new-blog-label {
  color: #000;
  font-weight: 700;
  text-transform: uppercase;
}

.blog-form {
  margin-top: 50px;
}

.happy-button {
  background-color: #448AFF;
}

.happy-button:hover {
  background-color: #7af;
}

#blog-show-wrapper {
  margin-top: 40px;
}

#blog-show-img {
  max-width: 100%;
}

@media only screen and (min-width: 801px) {
  .blog-text {
    font-size: 1.3rem;
  }
}

/****** Devise ******/
.devise-links {
  margin-top: 20px;
}