/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @charset "UTF-8";

 // Mixins
 // @import "materialize/components/prefixer";
 @import "materialize/components/mixins";
 @import "materialize/components/color";
 $primary-color-dark:   #00796B !default;
 $primary-color:        #009688 !default;
 $primary-color-light:  #B2DFDB !default;
 $primary-color-text:   #FFFFFF !default;
 $accent-color:         #448AFF !default;
 $primary-text-color:   #212121 !default;
 $secondary-text-color: #757575 !default;
 $divider-color:        #BDBDBD !default;
 // $primary-color: color("green", "base") !default;
 // $secondary-color: color("indigo", "accent-2") !default;

 // Variables;
 @import "materialize/components/variables";

 // Reset
 @import "materialize/components/normalize";

 // materialize/components
 @import "materialize/components/global";
 @import "materialize/components/icons-material-design";
 @import "materialize/components/grid";
 @import "materialize/components/navbar";
 @import "materialize/components/roboto";
 @import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:900');
 @import "materialize/components/typography";
 @import "materialize/components/cards";
 @import "materialize/components/toast";
 @import "materialize/components/tabs";
 @import "materialize/components/tooltip";
 @import "materialize/components/buttons";
 @import "materialize/components/dropdown";
 @import "materialize/components/waves";
 @import "materialize/components/modal";
 @import "materialize/components/collapsible";
 @import "materialize/components/chips";
 @import "materialize/components/materialbox";
 @import "materialize/components/forms/forms";
 @import "materialize/components/table_of_contents";
 @import "materialize/components/sideNav";
 @import "materialize/components/preloader";
 @import "materialize/components/slider";
 @import "materialize/components/carousel";
 @import "materialize/components/date_picker/default";
 @import "materialize/components/date_picker/default.date";
 @import "materialize/components/date_picker/default.time";


body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.background-gradient {
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
  )
}

.home-hero-text {
  text-align: center;
  color: #fff;
  font-weight: 700;
  line-height: 65px;
}

.center-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#navbar-spacing {
  padding: 0 15px;
}

.nav-links {
  font-size: 1.15rem;
  padding: 0 20px;
  letter-spacing: 1px;
}

.home-headlines {
  font-weight: 500;
}

.home-body h4 {
  color: #212121;
}

.home-body p {
  color: #757575;
}

.home-body .material-icons {
  font-size: 5rem;
  color: #448AFF;
}

#home-parallax {
  margin-bottom: 50px;
}

.services-copy {
  font-size: 16px;
}

.objections-questions {
  font-weight: 700;
  font-size: 17px;
}

.objections-answers {
  font-size: 16px;
}

#email-quote {
  font-weight: 700;
}

.link-accent {
  color: #536DFE;
  text-decoration: underline;
}

.offer-icon {
  font-size: 1.5rem !important;
  width: 30px;
}

.check-list {
  display: inline-flex;
  vertical-align: middle;
  margin: 5px 0;
}

.buy-btn {
  background-color: #FF5252;
}

.buy-btn:hover {
  background-color: #ff8585;
}

i.material-icons.logo {
  font-size: 3rem;
  margin-right: 0 !important;
}

.brand-name {
  font-family: 'Source Code Pro', monospace;
}

nav .brand-logo {
  font-size: 2.5rem;
  padding: 3px;
}

.services-divider {
  background-color: #009688;
  height: 170px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.services-divider h4 {
  color: #fff;
}

@media only screen and (min-width: 992px) {
  .home-copy {
    font-size: 20px;
  }
}

