/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @charset "UTF-8";

 // Mixins
 // @import "materialize/components/prefixer";
 @import "materialize/components/mixins";
 @import "materialize/components/color";
 $primary-color-dark:   #00796B !default;
 $primary-color:        #009688 !default;
 $primary-color-light:  #B2DFDB !default;
 $primary-color-text:   #FFFFFF !default;
 $accent-color:         #448AFF !default;
 $primary-text-color:   #212121 !default;
 $secondary-text-color: #757575 !default;
 $divider-color:        #BDBDBD !default;
 // $primary-color: color("green", "base") !default;
 // $secondary-color: color("indigo", "accent-2") !default;

 // Variables;
 @import "materialize/components/variables";

 // Reset
 @import "materialize/components/normalize";

 // materialize/components
 @import "materialize/components/global";
 @import "materialize/components/icons-material-design";
 @import "materialize/components/grid";
 @import "materialize/components/navbar";
 @import "materialize/components/roboto";
 @import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:900');
 @import "materialize/components/typography";
 @import "materialize/components/cards";
 @import "materialize/components/toast";
 @import "materialize/components/tabs";
 @import "materialize/components/tooltip";
 @import "materialize/components/buttons";
 @import "materialize/components/dropdown";
 @import "materialize/components/waves";
 @import "materialize/components/modal";
 @import "materialize/components/collapsible";
 @import "materialize/components/chips";
 @import "materialize/components/materialbox";
 @import "materialize/components/forms/forms";
 @import "materialize/components/table_of_contents";
 @import "materialize/components/sideNav";
 @import "materialize/components/preloader";
 @import "materialize/components/slider";
 @import "materialize/components/carousel";
 @import "materialize/components/date_picker/default";
 @import "materialize/components/date_picker/default.date";
 @import "materialize/components/date_picker/default.time";
 @import "font-awesome";

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.background-gradient {
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
  )
}

.home-hero-text {
  text-align: center;
  color: #fff;
  font-weight: 700;
  line-height: 65px;
}

.center-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#navbar-spacing {
  padding: 0 15px;
}

.nav-links {
  padding: 0 20px;
  letter-spacing: 1px;
}

.body-headlines {
  font-weight: 500;
}

.body-copy h4 {
  color: #212121;
}

.body-copy p {
  color: #757575;
}

.body-copy .material-icons {
  color: #448AFF;
}

#home-parallax {
  margin-bottom: 50px;
}

.objections-questions {
  font-weight: 700;
}

#email-quote {
  font-weight: 700;
}

.link-accent {
  color: #536DFE;
  text-decoration: underline;
}

.check-list {
  display: inline-flex;
  vertical-align: middle;
  margin: 5px 0;
}

.buy-btn {
  background-color: #FF5252;
}

.buy-btn:hover {
  background-color: #ff8585;
}

.analyze-btn {
  background-color: #FF5252;
  text-transform: none;
}

.analyze-btn:hover {
  background-color: #ff8585;
}

.material-form {
  background-color: #fff;
  padding: 20px !important;
  border: 1px solid #ebebeb;
	box-shadow: rgba(0,0,0,0.14902) 0px 1px 1px 0px,rgba(0,0,0,0.09804) 0px 1px 2px 0px;
  margin-top: 30px;
}

i.material-icons.logo {
  margin-right: 0 !important;
}

.brand-name {
  font-family: 'Source Code Pro', monospace;
}

.services-divider {
  background-color: #009688;
  height: 170px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.services-divider h4 {
  color: #fff;
}

@media only screen and (min-width: 992px) {
  .nav-wrapper {
    padding: 0 15px;
  }

  .brand-name {
    font-size: 2.5rem !important;
  }

  i.material-icons.logo {
    font-size: 2.5rem;
  }

  a.nav-links {
    font-size: 1.2rem;
  }
}

@media only screen and (min-width: 801px) {

  .home-hero-text {
    padding: 0px 53px;
  }

  .body-copy {
    font-size: 1.3rem;
  }

  .services-divider {
    padding-left: 10%;
    padding-right: 10%;
  }

  #pricing-header {
    margin-top: 25px !important;
    margin-bottom: 25px !important;
  }

  .service-icons {
    font-size: 4rem !important;
  }

  .services-copy {
    font-size: 1.1rem;
  }

  .objections-answers {
    font-size: 1.1rem;
  }

  .offer-icons {
    font-size: 2rem;
  }

  .package-title {
    font-size: 2rem;
  }

  .card-content li {
    font-size: 1rem;
  }

  footer .fa {
    font-size: 2rem;
  }
}

@media only screen and (min-width: 451px) and (max-width: 800px) {

  .home-hero-text {
    line-height: 45px;
    padding: 0 12px;
    font-size: 2.6rem;
  }

  .body-headlines {
    font-size: 2.05rem;
  }

  .body-copy {
    font-size: 1.25rem;
  }

  .services-divider {
    padding: 0 57px;
  }

  #pricing-header {
    margin-top: 25px !important;
    margin-bottom: 25px !important;
  }

  .service-icons {
    font-size: 4rem !important;
  }

  .offer-icons {
    font-size: 2rem;
  }

  .package-title {
    font-size: 2.25rem;
  }

  footer .fa {
    font-size: 3rem;
  }
}

@media only screen and (max-width: 450px) {

  .home-hero-text {
    line-height: 45px;
    margin: 0;
    padding: 5px;
    font-size: 2.25rem;
  }

  #home-parallax {
    margin-bottom: 25px;
  }

  .body-headlines {
    font-size: 1.75rem;
    line-height: 121%;
  }

  .body-copy {
    font-size: 1.25rem;
    padding: 0 1%;
  }

  .services-divider {
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 0 2%;
  }

  .package-title {
    font-size: 2.5rem;
  }

  #pricing-header {
    margin-top: 25px !important;
    margin-bottom: 25px !important;
  }

  .service-icons {
    font-size: 4rem !important;
  }

  .offer-icons {
    font-size: 2rem;
  }

  footer .fa {
    font-size: 3rem;
  }
}

footer .fa {
  color: #fff;
  padding: 0 6px;
}

.footer-links {
  display: inline;
  padding: 0 2em;
}

#footer-social-icons {
  margin-top: 5px;
}

.social-links {
  display: inline;
  padding: 0 1em;
}

.page-footer h4, h6 {
  margin: 0;
}

.page-footer ul {
  margin: 5px 0;
}

#pricing-header {
  margin-top: 60px;
  margin-bottom: 40px;
}

.package-title {
  font-weight: 700 !important;
  text-align: center;
  margin-top: 10px;
}

.package-price {
  color: #FF5252 !important;
  text-align: center;
  font-weight: 700;
}

.offer-icon {
  width: 30px;
}

.not-included-icon {
  color: #bdbdbd !important;
  width: 30px;
}

.not-included {
  color: #bdbdbd;
}

//****** Website Critic ******//

#website-critic-container {
  margin-top: 50px;
}

#critic-free {
  color: #FF5252;
}
//****** Blog Styles ******//

.destroy-btn {
  background-color: #FF5252;
}

.destroy-btn:hover {
  background-color: #ff8585;
}

.destroy-article-btn {
  padding: 0 0.75rem;
}

.new-blog-label {
  color: #000;
  font-weight: 700;
  text-transform: uppercase;
}

.blog-form {
  margin-top: 50px;
}

.happy-button {
  background-color: #448AFF;
}

.happy-button:hover {
  background-color: #7af;
}

/****** Devise ******/
.devise-links {
  margin-top: 20px;
}